.message{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.986);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
    justify-content: center;
    align-items: center;
}
.message-body{
    width: 500px;
    height: 150px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    span{
        color: #3879c4;
    }

}

.message--text{
    padding: 5px 5px;
    font-size: 20px;
    text-align: center;
}

.message--btn{
    width: 100px;
    height: 25px;
    border: 1px solid #7e9bbd;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 15px 15px 0;
    cursor: pointer;
}
.message--btn:hover{
    background:#7e9bbd;
    color: #fff;
}
.section{
    width: 100%;
    height: 100%;
    padding: 0 0 100px 0;
}

.content-wrapper{
    max-width: 1280px;
    margin: 0 auto ;
    .content{
        display: flex;
        flex-direction: column;
        padding: 60px 50px;
        width: 100%;
        .content-text{
            display: block;
            margin: 5px 0 0 50px ;
            color: #fff;
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
            font-weight: 300;
            font-size: calc(7px + 2 * (100vw / 1280));
            position: relative;
}}}
.content-text::before{
    content:"";
    background: url(../icons/iconcheck.png) 50% 50%/cover no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    left: -20px;
    top: 2px;
}
.content-text_wrapper{
    margin: 0px auto 0 auto;
    
}
.content-text--title{
            color: #fff;
            width: 80%;
            font-family: 'Rubik', sans-serif;
            // text-align: center;
            font-size: calc(20px + 10 * (100vw / 1280));
            font-weight: 500;
            text-transform: uppercase;
            margin: 30px 0 10px 0;
            span{
                color: rgb(219, 5, 5);
                font-weight: 700;
            }
}

.content-form{
    width: 100%;
    height: auto;
    padding: 80px 30px 0 30px;
    display: flex;
    flex-direction: column;
    .input{
        width: 310px;
        height: 40px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 1em;
        margin: 0px 0px;
        background: #fff;
        border: 1px solid #7e9bbd;
        border-radius: 5px;
        cursor: pointer;
        padding: 0px 35px 0px 10px;
        font-size: 16px;
    }
}


.conten-form_buttons{
    display: flex;
    width: 100%;
    height: auto;
    padding: 0 0 0 5px;
    .btn--default{
        width: 250px;
        height: 50px;
        margin-left: 2px;
        border-radius: 10px 10px 0px 0px;
        border: none;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        background: rgba(10, 7, 51, 0.534);
        color: #fff;
        font-size: 13px;
        transition: all 0.2s;
    }
    .btn--default:hover{
        background: rgba(255, 255, 255, 0.534);
        color: #000;
        font-weight: 500;
        font-size: 15px;
        
    }
    
}

.btn--active{
    width: 250px;
    height: 50px;
    margin-left: 2px;
    border-radius: 10px 10px 0px 0px;
    border: none;
    font-family: 'Roboto', sans-serif;
    background: rgba(255, 255, 255, 0.534);
    color: #000;
    font-weight: 500;
    font-size: 15px;
    
}

.content-form_wrapper{
    width: 100%;
    min-height: auto;
    background: #fff;
    border-radius: 5px;
}

.content_form--body{
    width: 100%;
    display: flex;
    flex-direction: column;
    .content-form_radiobtn-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        label:last-child{
            padding-left: 20px;
        }
    }
}

.content-form--level{
    display: flex;
    padding: 15px 0px 15px 0;
    flex-wrap: wrap;
}

.content-form--title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1em;
    padding: 0px 25px;
    margin-top: 20px;
    margin-bottom:-15px ;
    
}


.content-form_dropdown--title{
    margin-bottom: 10px;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: 1em;
}
.content-form_radiobtn-wrapper{
    position: relative;
    top:15px;
    font-family: Roboto,sans-serif;
    font-weight: 300;
    font-size: 1em;
}
.content-form_radiobtn-wrapper::before{
    // content: 'Юридический статус';
    position: absolute;
    top: -10px;
    left:5px;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: 1em;
}



.content-form__tabs--hide{
    display: none;
}
.content-form__tabs--visible{
    display: block;
    
}
.content-form__preview{
width: 100%;
height: 300px;
display: flex;
justify-content: center;
align-items: center;
text-transform: uppercase;
color: rgb(206, 206, 206);
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: calc(15px + 18 * (100vw / 1280));
position: relative;
img{
    width: 50px;
    height: 50px;
    transform: rotate(270deg);
    position: absolute;
    top: 20px;
    left: 130px;
    opacity: 0.3;
    animation-name: arrowup;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
}

@keyframes arrowup {
    0%   {top:10px}
    50%  {top:20px;}
    100% {top:10px;}
  }

  .content-form_inpetdata-wrapper{
    padding: 15px 0;
    .input{
        margin: 10px 25px;
        padding: 5px 10px 0px 10px;
    }
    
  }
  .content-form--submit{
    width: 150px;
    height: 50px;
    background: rgba(20, 40, 105, 0.986);
    color: #fff;
    padding: 10px 0;
    margin: 10px 25px;
    border: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    border-radius: 25px;
    transition: .2s ease 0s;
}
.content-form--submit:hover{
    background: rgba(17, 35, 92, 0.986);
    cursor: pointer;
    
}
  .content-form__agreement{
      width: 100%;
      padding: 20px 5px;
      .content-form__agreement-checkbox{
          padding: 0 0 0 25px;
      }
      .content-form_real-checkbox{
          margin-left: -20px;
      }
      .content-form_custom-checkbox{
        margin-left: -20px;
    }
  }

  form *{
      outline: none;
      input{
        transition: all 0.5s;
      }
      input:focus{
          box-shadow: 0 0 5px rgb(24, 69, 182);
          
      }
  }

  .content-form--text{
      width: 100%;
      padding: 10px 30px;
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      font-weight: 500;
      color: rgb(212, 110, 110);
  }

  .content-form--text_two{
    width: 100%;
    padding: 10px 30px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(212, 110, 110);
}

  .content-form_inpetdata-wrapper{
      display: flex;
      flex-wrap: wrap;
  }


.content-form_wrapper--input{
    display: flex;
    flex-direction: column;
    
    span{
        font-family: Roboto,sans-serif;
        font-weight: 500;
        font-size: 1em;
        padding-left: 25px;
    }
}

.content-form_wrapper--input._error{
    position: relative;
    span::before{
        content: '*';
        position: absolute;
        color: rgb(156, 16, 16);
        top: -5px;
        left: 15px;
    }
    
    }


    .content_form--body{
        position: relative;
    }

    .content_form--body::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(27, 27, 27, 0.938);
        opacity: 0;
        transition: all 0.5s ease 0s;
        visibility: hidden;
        
    }


    .content_form--body._tabs--visible::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background: rgba(51, 51, 51, 0.9) url("../image/Spinner.gif") center/ 50px no-repeat;
        opacity: 1;
        visibility: visible;
        // z-index: 1;
    }
    .inform-table{
        width: 310px;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        border-radius: 10px;
        padding: 5px 5px;
        font-family: Roboto,sans-serif;
        font-weight: 500;
        font-size: 1em;
        color:#fff;
        visibility: hidden;
        transition: all 0.5s ease 0s;
        .inform-table--title{
            background: rgba(34, 34, 34, 0.849);
            border-radius: 10px;
            color: #fff;
            text-transform: uppercase;
            display: block;
            font-size: 1.2em;
            text-align: center;
            transition: all 0.2s ease 0s;
        }
        p{
            color: red;
            text-align: center;
            padding: 5px 0;
        }
    }

    .inform-btn{
        width: 290px;
        height: 25px; 
        background: rgba(255, 255, 255, 0.301);
        border-radius: 10px; 
        color: #000;
        text-align: center; 
        position: absolute;
        bottom: 20px;
        right: 10px; 
        cursor: pointer;
    }
    .inform-btnTwo{
        width: 290px;
        height: 25px; 
        background: rgba(255, 255, 255, 0.301);
        border-radius: 10px; 
        color: #000;
        text-align: center; 
        position: absolute;
        bottom: 20px;
        right: 20px; 
        cursor: pointer;
    }
    .inform-btn:hover{
        background: rgb(167, 167, 167);
    }
    .inform-btnTwo:hover{
        background: rgb(167, 167, 167);
    }

    .inform-table._table--visible{
        visibility: visible;
    }



.inform-table--Two{
    width: 310px;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        border-radius: 10px;
        padding: 5px 5px;
        font-family: Roboto,sans-serif;
        font-weight: 500;
        font-size: 1em;
        color:#fff;
        visibility: hidden;
        transition: all 0.5s ease 0s;
        .inform-table--title_Two{
            background: rgba(34, 34, 34, 0.849);
            border-radius: 10px;
            color: #fff;
            text-transform: uppercase;
            display: block;
            font-size: 1.2em;
            text-align: center;
            transition: all 0.2s ease 0s;
        }
        p{
            color: red;
            text-align: center;
            padding: 5px 0;
        }
    
}
.inform-table--Two._table--visible{
    visibility: visible;
}
.content-form_dropdown--close_block{
    position: absolute;
    top: 30px;
    right: 0px;
    height: 40px;
    width: 35px;
    padding-top: 20px;
    padding-left:10px ;
    :first-child{
        transform: rotate(46deg) translateX(3px);
    }
    :last-child{
        transform: rotate(-50deg) translateX(3px);
    }
}
.content-form_dropdown--close_item{
    display: block;
    border-bottom: 2px solid #000;
    margin: 2px 0;
    width: 15px;
    
    
}
._visible-block{
    display:block;
    cursor: pointer;
}
._hide-block{
    display:none ;
}

