

.content-form_checkbtn._error{
.content-form_custom-checkbox{
    box-shadow: 0 0 5px red;
    border: 2px solid rgb(156, 16, 16); 
}

}
//кастомные чекбоксы

.content-form_checkbtn{
    position: relative;
    margin: 10px 20px;
    font-family: 'Roboto', sans-serif;
}
.content-form_real-checkbox{
    width: 20px;
    height: 20px;
    position: absolute;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    
}
.content-form_custom-checkbox{
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid rgb(24, 69, 182);
    vertical-align: sub;
    border-radius: 3px;
    margin-right: 5px;
    position: relative;
    
}
.content-form_custom-checkbox::before{
    content: '';
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url(../icons/iconcheck_form.png) 50% 50%/contain no-repeat;
    position: absolute;
    left: 50%;
    top :50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
}
//делаем видимость чекбоксов
.content-form_real-checkbox:checked + .content-form_custom-checkbox::before{
    transform: translate(-50%, -50%) scale(1);  
}
//фокус на чекбоксе
.content-form_real-checkbox:checked + .content-form_custom-checkbox{
    box-shadow: 0px 0px 0px 1px #38557a, 0px 0px 10px #7e9bbd;
    border: 2px solid rgb(24, 69, 182);
}
.content-form_real-checkbox:hover + .content-form_custom-checkbox{
    box-shadow: 0px 0px 0px 1px #38557a, 0px 0px 10px #7e9bbd;
}

//кастомные радиокнопки
.content-form_real-radioBtn{
    width: 16px;
    height: 16px;
    position: absolute;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}
.content-form_custom-radioBtn{
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: #fff;
    border-radius: 50%;
    border:2px solid rgb(24, 69, 182);
    margin: 0 5px 0 5px;
    vertical-align: sub;
    position: relative;
}
.content-form_custom-radioBtn::before{
    content:'';
    display: inline-block;
    width: 9px;
    height: 9px;
    position: absolute;
    background: rgb(17, 50, 134);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in; 
}
//делаем видимость радиокнопки
.content-form_real-radioBtn:checked + .content-form_custom-radioBtn::before{
    transform: translate(-50%, -50%) scale(1);  
}

.content-form_real-radioBtn:hover + .content-form_custom-radioBtn{
    box-shadow: 0px 0px 0px 1px #38557a, 0px 0px 10px #7e9bbd;
}





//дкастомный дропдаун
.content-form_dropdown-wrapper{
    width: auto;
    margin: 5px 25px;
    position: relative;
    // margin-bottom: 50px;
}
.content-form_dropdown-button{
    position: relative;
    display: block;
    width: 310px;
    height: 40px;
    text-align: left;
    background: #fff;
    border: 1px solid #7e9bbd;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px 0px 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000;
    overflow: hidden;
    line-height: 30px;
}
.content-form_dropdown-button::after{
    content:'';
    width: 0;
    height: 0;
    border-width: 7.4px 5px 0 5px;
    border-color: rgb(73, 73, 73) transparent transparent transparent;
    border-style:solid;
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translate(-50%);
    vertical-align: sub;
    pointer-events: none;
}
.content-form_dropdown-list{
    position: absolute;
    left: 0;
    top: 74px;
    background: #fff;
    box-shadow: 0px 5px 9px rgba(176, 198, 225, 0.6);
    border-radius: 6px;
    width: 300px;
    z-index: 2;
    display: none;
    overflow: scroll;
    overflow-x:hidden;
    height: 150px;
}
.content-form_dropdown-list_item{
    width: 100%;
    overflow: hidden;
    padding: 5px 5px;
    border: 1px solid #7e9bbd;
    border-bottom: 0;
    transition: 0.3s all;  
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.content-form_dropdown-list_item:first-child{
    border-radius: 6px 6px 0 0;
}
.content-form_dropdown-list_item:last-child{
    border-bottom: 1px solid #7e9bbd;
    border-radius: 0 0 6px 6px;

}    
.content-form_dropdown-list_item:hover{
    cursor: pointer;
    background: rgba(176, 198, 225, 0.26);
}
.content-form_dropdown-list_input{
    display: none;
}
.content-form_dropdown-list--visible{
    display: block;
}

.content-form_dropdown-list::-webkit-scrollbar{
    width: 10px;
    background-color: #f9f9fd;
}
.content-form_dropdown-list::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #7e9bbd;
}



.content-form_dropdown-button--hide{
    display: none;
}
.content-form_dropdown-list_input--visible{
    display: block;
}


.input._error{
    box-shadow: 0 0 5px red;
    border: 1px solid rgb(156, 16, 16); 
}


.content-form_checkbtn._error{
.content-form_custom-checkbox{
    box-shadow: 0 0 5px red;
    border: 2px solid rgb(156, 16, 16); 
}

}

.content-form_real-checkbox:checked + .content-form_custom-checkbox{
    box-shadow: 0px 0px 0px 1px #38557a, 0px 0px 10px #7e9bbd;
    border: 2px solid rgb(24, 69, 182);
}