.header{
    width: 100%;
    height: auto;
    background: rgba(10, 7, 51, 0.363);
}
.header-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    .header-content{
        width: 100%;
        display: flex;
    }
}


.header-logo{
    background: url(../image/logo.png)50% 50% /cover no-repeat;
    width: 150px;
    height: 100px;
    
}
.header-text_wrapper{
    color: #fff;
    font-size: 18px;
    padding: 0 0 0 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    span{
        display: block;
        width: 50%;
        text-transform: uppercase;
    }
}