@import "normalize.scss";
@import "variable.scss";
@import "header.scss";
@import "content.scss";
@import "media.scss";
@import "customElements.scss";


.wrapper-body{
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, #0f4989, #1e5696, #2b62a3, #3770b0, #437dbd);
}

