@import "normalize.scss";
@import "variable.scss";
@import "media.scss";

.header{
    width: 100%;
    height: auto;
    position: absolute; 
    background: rgba(255, 255, 255, 0);
    padding: 20px;
    display: flex;

}

.header-logo{
    background: url(../image/logo.png)50% 50% /cover no-repeat;
    width: 150px;
    height: 100px;
    
}
.header-text_wrapper{
    color: #fff;
    font-size: 18px;
    padding: 0 0 0 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    span{
        display: block;
        width: 50%;
    }
}
.section{
    width: 100%;
    height: 100vh;
    // background: linear-gradient( rgba(27, 27, 27, 0.5), rgba(27, 27, 27, 0.5)) ,url(../image/backg.png)50% 50% /cover no-repeat;
    background: linear-gradient(to bottom, #0f4989, #1e5696, #2b62a3, #3770b0, #437dbd);
}